
.flowers{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 20px;
    max-width: 1500px;
}
.flowers-container{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
}
.flowers img{
    width: 330px;
    height: 350px;
    border-radius: 10px;
}
.selected-flowers{
    box-shadow: 10px 10px 10px gray;
}
.select-one-button{
    border-radius: 15px;
    background-color: rgb(59, 122, 124);
    color: #ffff;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
    margin: 20px;
}

/* Make responsive */
@media (max-width: 688px) {
    .flowers{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: auto;
        margin: 20px;
        max-width: 668px;
    }

    .flowers-container{
        max-width: 688px;
        display: grid;
        grid-template-columns: 1fr;
        order: 2;
    }
    .selected-flowers{
        box-shadow: 10px 10px 10px gray;
        order: 1;
    }

    .flowers img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }

    .select-one-button{
        border-radius: 15px;
        background-color: rgb(59, 122, 124);
        color: #ffff;
        padding: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: bold;
        margin: 10px;
    }
}