.card {
    background-color: #c4c4c4a4;
    height: 570px;
    width: 350px;
    padding: 15px;
    justify-self: center;
}

.image-container {
    width: 320px;
    height: 320px;
    background-color: #fff;
    padding: 25px;
   
  }
  
  .image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }